<h1>BATTLE TIME!</h1>
<form action="/names" method="post">
  <input type="text" name="player_1" placeholder="Player 1">
  <input type="text" name="player_2" placeholder="Player 2">
  <input type="submit" value="Submit">
</form>